.class1{

background-color: red;
height:100px;
width:100px;


}

.class2{

background-color:blue;
height:100px;
width:100px;
margin-top: 10px;



}

.class3{

    background-color: green;
    height:100px;
    width:100px;


}